<!DOCTYPE html>
<html>
<head>
    {{!-- <meta charset="utf-8" /> --}}
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <title>Weather</title>
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
    <link rel="icon" href="/img/pun.jpg" />
    <link rel="stylesheet" href="./css/styles.css" />
   
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>

        <form>
            <input placeholder="location">
            <button>
                search
            </button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
    </div>
    
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>